<table id="insurer_product_api_list" class="cell-border <%= @insurer_api_pendings.blank? && @product_apis.blank? ? nil : "css-serial" %>">
  <thead>
  <tr>
    <th>#</th>
    <th>Client API Mapping</th>
    <th>Cache Policy</th>
    <th>Cache Timeout (Hours)</th>
    <th>API URL</th>
    <th>API Method</th>
    <th>API Flavour</th>
    <th>Payload Type</th>
    <th>Activated</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>


