<p>Hello <strong><%= @user.name %></strong></p>
<p>You have requested to reset the password of your account. To proceed, please click on the link below. If you did not make this request, please ignore this email.</p>
<p>Reset Password: <a href="<%= @url %>"><%= @url %></a></p>