<p>Hello <%= @client.contact_person_name %>,</p>
<p>Congratulations. Your application for Insurance Market API is approved.</p>
<div>API URL: <%= @api_url %></div>
<div>API Key: <%= @client.client_api_key %></div>

